.header-one-wrapper {
    background-color: $theme-color-orange;
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: relative;

    @media (max-width: 991px) {
        grid-template-columns: 1fr;
    }

    .logo-wrapper {
        display: grid;
        justify-content: center;
        align-items: center;
        min-height: 150px;
        background-color: $theme-color-orange;

        @media (max-width: 991px) {
            justify-content: start;
            margin-left: 60px;
        }

        .logo {
            width: 100%;
        }
    }

    .right-button-wrapper {
        min-height: 150px;
        background-color: $theme-color-orange;
        display: grid;
        justify-content: center;
        align-items: center;
        @media (max-width: 1310px) {
            display: none;
        }
    }

    // NAVBAR
    .navbar-wrapper {
        position: relative;
        display: grid;
        grid-template-rows: 60px 90px;
        @include setSkew;
        border-left: 10px solid #fff;
        border-right: 10px solid #fff;
        z-index: 1000;

        @media (max-width: 1310px) {
            display: none;
        }

        // TOP NAV
        .top-nav {
            display: grid;
            align-items: center;
            background-color: $theme-color-dark;
            color: #fff;
            padding: 10px 30px;
            @media (max-width: 1310px) {
                display: none;
            }

            .top-nav-content {
                @include resetSkew;
            }

            li {
                font-size: 14px;
                padding-right: 45px;

                @media (max-width: 1080px) {
                    padding-right: 20px;
                }
            }

            .left-icon {
                padding-right: 3px;
                color: $theme-color-orange;
            }

            .icon-1 {
                padding-left: 0;
            }

            .right-icons a {
                color: $color-light;
                margin-left: 20px;
                @include resetSkew;

                &:hover {
                    color: $theme-color-orange;
                    transition: all 0.3s ease-in;
                }
            }

            .select-lang {
                .lang-select {
                    @include resetSkew;
                    background-color: transparent;
                    border: none;
                    color: $font-color-light;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Roboto", serif;
                    option {
                        color: $theme-color-dark;
                        &:hover {
                            background-color: $theme-color-orange;
                        }
                    }
                }
                i {
                    @include resetSkew;
                    color: $theme-color-orange;
                }
            }
        }

        // MAIN NAV
        .main-nav {
            display: grid;
            align-items: center;
            background-color: $theme-color-light;
            .navbar-content {
                @include resetSkew;
                .nav-btn {
                    flex: 3;
                    display: flex;
                    @media (max-width: 1310px) {
                        display: none;
                    }
                }

                .navbar-icons a {
                    color: #777777;
                    padding: 15px;
                    margin-right: 20px;
                    border-radius: 50%;
                    &:hover {
                        color: $theme-color-orange;
                        transition: all 0.3s ease-in;
                    }
                }

                .nav-links {
                    flex: 2;
                }

                .nav-links > ul {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

                .nav-link > a {
                    font-size: 17px;
                    font-weight: bold;
                    color: $color-gray;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: 0.5s;

                    @media (max-width: 1500px) {
                        font-size: 15px;
                    }
                }

                .nav-link {
                    padding: 10px 20px;

                    @media (max-width: 1500px) {
                        padding: 10px 15px;
                    }

                    &:hover {
                        color: $theme-color-orange;
                        transition: all 0.3s ease-in;
                    }

                    i {
                        font-size: 10px;
                        padding-left: 5px;
                    }
                }

                .nav-link > a > i {
                    margin-left: 0.2rem;
                }

                .nav-link:hover > a {
                    color: $theme-color-orange;
                }

                .dropdown {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 191px;
                    transform: translateY(10px);
                    opacity: 0;
                    pointer-events: none;
                    transition: 0.5s;
                }

                .dropdown ul {
                    position: relative;
                }

                .dropdown-link > a {
                    font-size: 16px;
                    font-weight: bold;
                    display: flex;
                    background-color: #fff;
                    color: $color-gray;
                    padding: 0.5rem 1rem;
                    font-size: 0.9rem;
                    align-items: center;
                    justify-content: space-between;
                    transition: 0.3s;
                }

                .dropdown-link:hover > a {
                    background-color: $color-primary;
                    color: $color-light;
                }

                .dropdown-link:not(:last-child) {
                    border-bottom: 1px solid #efefef;
                }

                .dropdown-link i {
                    transform: rotate(-90deg);
                }

                .arrow {
                    position: absolute;
                    width: 11px;
                    height: 11px;
                    top: -5.5px;
                    left: 50%;
                    background-color: #fff;
                    transform: rotate(45deg);
                    cursor: pointer;
                    transition: 0.3s;
                    z-index: -1;
                }

                .dropdown-link:first-child:hover ~ .arrow {
                    background-color: $color-light;
                }

                .dropdown-link {
                    position: relative;
                }

                .nav-link:hover > .dropdown,
                .dropdown-link:hover > .dropdown {
                    transform: translate(0, 0);
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }

    #hamburger {
        color: $theme-color-white;
        font-size: 30px;
        display: none;
        position: absolute;
        top: 50px;
        right: 40px;

        @media (max-width: 1300px) {
            display: block !important;
        }

        i {
            cursor: pointer;
        }
    }
}

// =================== MOBILE NAV: ONE =================== //

.mobile-nav-one-wrapper {
    .mobile-nav {
        position: fixed;
        right: -540px;
        top: 0;
        width: 500px;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: scroll;
        transition: right 0.5s ease-in;
        background-color: $theme-color-dark;
        padding: 20px;
        z-index: 9999;
        box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);

        @media (max-width: 767px) {
            width: 320px;
            right: -440px;
        }

        &.show {
            right: 0px;
        }

        .close-nav {
            border: 0;
            background: transparent;
            color: #fff;
            border-radius: 30px;
            font-size: 20px;
            position: absolute;
            left: 20px;
            top: 10px;
        }

        /* Vertical Menu Style */
        .sidebar-nav {
            margin-top: 30px;
        }
        .sidebar-nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: transparent;
        }
        .sidebar-nav .metismenu {
            display: flex;
            flex-direction: column;
        }
        .sidebar-nav .metismenu > li {
            position: relative;
            display: flex;
            flex-direction: column;
        }
        .sidebar-nav .metismenu a {
            font-size: 16px;
            font-family: "Roboto", serif;
            position: relative;
            display: block;
            padding: 10px 15px;
            transition: all 0.3s ease-out;
            text-decoration: none;
            color: #fff;
            outline-width: 0;
            text-transform: capitalize;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
        .sidebar-nav .metismenu ul a {
            padding: 10px 15px 10px 35px;
            position: relative;

            &:hover {
                padding-left: 40px;
                &::before {
                    background-color: #fff;
                }
            }

            &::before {
                position: absolute;
                left: 15px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid #fff;
                content: "";
                top: 50%;
                transition: all 0.3s ease-in-out;
                transform: translateY(-50%);
            }
        }
        .sidebar-nav .metismenu ul ul {
            list-style-type: circle !important;
        }
        .sidebar-nav .metismenu ul ul a {
            padding: 10px 15px 10px 45px;
        }
        .sidebar-nav .metismenu a:hover,
        .sidebar-nav .metismenu a:focus,
        .sidebar-nav .metismenu a:active {
            text-decoration: none;
            color: #f8f9fa;
            background: $theme-color-orange;
        }
    }

    .action-bar {
        margin-top: 30px;
        padding-left: 20px;
        a {
            color: #fff;
            display: block;
            margin-top: 12px;

            i {
                margin-right: 10px;
            }

            &.theme-btn {
                text-align: center;
            }
        }
    }

    .social-icons {
        font-size: 16px;
        color: $color-light;
        cursor: pointer;
        margin: 30px 0px;

        a {
            margin-right: 20px;
        }
    }
}

// =================== HEADER: THREE =================== //
.header-three-wrapper {
    background-color: $theme-color-dark !important;
    @media (max-width: 1800px) {
        padding: 0px 50px !important;
    }

    @media (max-width: 1500px) {
        padding: 0px 30px !important;
    }
    .logo-wrapper::after {
        display: none;
    }

    .navbar-three-items {
        justify-content: flex-start !important;
    }

    .navbar-three-wrapper {
        .logo-wrapper {
            @media (max-width: 1800px) {
                padding-right: 20px !important;
                // margin-left: -30px;
            }
        }
        .nav-link > a {
            color: white !important;
        }

        .form-select {
            color: white !important;
            option {
                color: $theme-color-dark;
            }
        }
    }

    .nav-right-content {
        width: 25%;
        @media (max-width: 1345px) {
            display: none !important;
        }

        @media (max-width: 1500px) {
            width: 20%;
        }

        .right-social-links {
            .social-link {
                font-size: 17px;
                color: $theme-color-white;
                &:hover {
                    color: $theme-color-orange;
                    transition: 0.3s;
                }
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        .right-icons {
            .right-icon {
                background-color: transparent;
                display: inline-block;
                width: 70px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                color: white;
                border: 3px solid #999;
                &:hover {
                    background-color: $theme-color-orange;
                    transition: 0.3s;
                }
                @media (max-width: 1500px) {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border: 2px solid #999;
                }

                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
    }

    .nav-right-content::before {
        display: none;
    }
}
