// COLORS
$color-primary: #ff631b;
$color-secondary: #002155;
$color-gray: #777777;
$color-gray-blue: #8f9db2;
$color-light: #ffffff;
$color-section-gray-bg: #f8f8f8;
$color-gray-light: #f2f3f5;

$theme-color-orange: #ff5e14;
$theme-color-red: #eb120a;
$theme-color-dark: #282828;
$theme-color-light: #ededed;
$theme-color-white: #fff;

$font-color-light: #d7d7d7;
$font-color-dark: #777777;

// FONTS
